@page "/"

@using MixedDbDistributionTask.Dashboard.ViewModels
@using System.Text.Json

@implements IDisposable
@inject DashboardViewModel ViewModel
<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    @if (!ViewModel.ServiceReady)
    {
        <div class="spinner-border text-primary" role="status" style="font-size: 5rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        <div class="w-50 d-flex flex-column justify-content-center align-items-center">
            <span class="mb-4">Hey, there! :)</span>
            @*         <div class="w-75 mb-4" style="border-bottom: 1px solid #888888;"></div> *@
        </div>

        @if (ViewModel.SetupError != null)
        {
            <div class="d-flex flex-column justify-content-center align-items-center gap-1">
                <span class="error-text">@ViewModel.SetupError</span>
            </div>
        }
        else if (_showIntroduction)
        {
            <Intro Introduction="ViewModel.Introduction" />
        }
        else
        {
            <div class="d-flex flex-column gap-2">
                <div class="d-flex flex-row gap-4">
                    @foreach (var tenant in ViewModel.AvailableTenants)
                    {
                        <span class="mylink @(GetLinkSelectedCss(tenant))" @onclick="() => ViewModel.SelectDatabase(tenant)">@tenant</span>
                    }
                </div>
                <div class="d-flex flex-row gap-4">
                    @if (ViewModel.HasSelection)
                    {
                        <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-start border p-2">
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                                <label for="api-key-input">Enter API key here:</label>
                                <input id="api-key-input" @bind="ViewModel.ApiKey" />
                            </div>
                            <div class="d-flex flex-column gap-1 mt-3">
                                @foreach (var query in ViewModel.GetAvailableQueriesForSelection()) @* because for loops are still "bugged" (probably intended behaviour) *@
                                {
                                    <span class="querylink @(GetQuerySelectedCss(query))" @onclick="() => ViewModel.SelectQuery(query)">@query</span>
                                }
                            </div>
                        </div>
                    }
                    @if (ViewModel.HasQuerySelection || ViewModel.HasQueryResult)
                    {
                        @* fix layout! *@
                        <div class="d-flex flex-column flex-grow-1 gap-1 p-2 border">
                            <div class="d-flex flex-row gap-2 border-bottom">
                                <span>@ViewModel.SelectedDatabase</span>
                                <span>-</span>
                                <span>@ViewModel.LastQuery</span>
                            </div>
                            @if (ViewModel.RequiredQueryParameters.Any())
                            {
                                @foreach (var param in ViewModel.RequiredQueryParameters.Select((value, index) => new { value, index }))
                                {
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <label for="@($"in-{param.value}")">@param.value</label>
                                        <input id="@($"in-{param.value}")" type="text" @bind="_enteredQueryParameters[param.index]" />
                                    </div>
                                }
                                <button @onclick="() => ViewModel.RequestSelectedQuery(_enteredQueryParameters)">Go!</button>
                            }
                            @if (ViewModel.HasQueryResult)
                            {
                                <div>
                                    <span>
                                        @ViewModel.LastQueryResult
                                    </span>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }

        @if (ViewModel.LastError != null)
        {
            <div class="d-flex flex-column justify-content-center align-items-center gap-1">
                <span class="error-text" style="font-size: .8rem;">@ViewModel.LastError</span>
                <span style="font-size: .8rem;">Most likely the API key is invalid. Double check and try again? :)</span>
            </div>
        }
    }
</div>

@code {
    private const string LINK_SELECTED_CSS = "selected";

    private bool _showIntroduction = false;
    private string?[] _enteredQueryParameters = [];

    protected override void OnInitialized()
    {
        ViewModel.InitialLoadCompleted += HandleInitialLoadComplete;
        ViewModel.Introduction.Completed += HandleIntroductionCompleted;
        ViewModel.DatabaseAvailabilityChanged += HandleDatabaseAvailabilityChanged;
        ViewModel.SelectedQueryParametersRequired += HandleQueryParametersRequired;
    }

    public void Dispose()
    {
        ViewModel.InitialLoadCompleted -= HandleInitialLoadComplete;
        ViewModel.Introduction.Completed -= HandleIntroductionCompleted;
        ViewModel.DatabaseAvailabilityChanged -= HandleDatabaseAvailabilityChanged;
        ViewModel.SelectedQueryParametersRequired -= HandleQueryParametersRequired;
    }

    private string GetLinkSelectedCss(string tenant)
        => ViewModel.IsDatabaseSelected(tenant) ? LINK_SELECTED_CSS : string.Empty;

    private string GetQuerySelectedCss(string query)
        => ViewModel.IsQuerySelected(query) ? LINK_SELECTED_CSS : string.Empty;


    private void HandleInitialLoadComplete(object? sender, EventArgs args)
    {
        _showIntroduction = !ViewModel.MasterAvailable;
        InvokeAsync(StateHasChanged);
    }

    private void HandleIntroductionCompleted(object? sender, EventArgs args)
    {
        _showIntroduction = false;
        InvokeAsync(StateHasChanged);
    }

    private void HandleDatabaseAvailabilityChanged(object? sender, EventArgs args)
    {
        InvokeAsync(StateHasChanged); //precaution for the "under discussion" multi-threaded blazor WASM; not needed as now
    }

    private void HandleQueryParametersRequired(object? sender, int paramCount)
    {
        _enteredQueryParameters = new string?[paramCount];
        InvokeAsync(StateHasChanged);
    }
}